# Python / VSCode
__pycache__/
*.pyc
.venv/
.vscode/

# Env & secrets
.env
secrets/
*.json
*.key

# Data & models (keep big stuff out of the main repo)
datasets/
runs/

# OS / misc
.DS_Store
Thumbs.db
